<aside>

    <header class="page-header">
        <a href="" class="page-name">Batch Delivery</a>
    </header>

    <section>
        <div class="search">
            <input type="text" name="search-bar" id="search-bar" placeholder="Search for batch">
            <button class="search-btn" type="submit">Search</button>
        </div>
        <div class="clickables">
            <button type="button" class="add-btn" data-bs-target="#addBatchModal" data-bs-toggle="modal">Add</button>
            <button type="button" class="delete-btn">Delete</button>
        </div>
    </section>

    <!--  Batch Data Table -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
          </td>
      </ng-container>

      <!-- Batch Number Column -->
      <ng-container matColumnDef="batchId">
          <th mat-header-cell *matHeaderCellDef> Batch Number </th>
          <td mat-cell *matCellDef="let element"> {{element.batchId}} </td>
      </ng-container>

      <!-- Supplier Column -->
      <ng-container matColumnDef="supplier">
          <th mat-header-cell *matHeaderCellDef> Supplier </th>
          <td mat-cell *matCellDef="let element"> {{element.supplier}} </td>
      </ng-container>

      <!-- Date Delivered Column -->
      <ng-container matColumnDef="dateDelivered">
          <th mat-header-cell *matHeaderCellDef> Date Delivered </th>
          <td mat-cell *matCellDef="let element"> {{element.dateDelivered}} </td>
      </ng-container>

      <!-- Valid Until Column -->
      <ng-container matColumnDef="validUntil">
          <th mat-header-cell *matHeaderCellDef> Valid Until </th>
          <td mat-cell *matCellDef="let element"> {{element.validUntil}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>

  </table>

</aside>

<!-- Add Batch Modal -->
<div class="modal add-batch" id="addBatchModal" tabindex="-1" aria-labelledby="addBatchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addBatchModalLabel">Add Batch</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-batch-form></app-batch-form>
            </div>
        </div>
    </div>
</div>
