<aside>
  <h1>Batch Delivery</h1>
 <section>
  <div class="search">
    <input type="text" role="search" aria-label="searchbar" placeholder="Search for batch">
    <button type="submit" class="search-btn">Search</button>
  </div>
  <div class="clickables">
    <button type="button" class="add-btn" data-bs-target="#addBatchModal" data-bs-toggle="modal">Add</button>
    <button type="button" class="delete-btn">Delete</button>
  </div>
 </section>
 <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="batchId">
    <th mat-header-cell *matHeaderCellDef>Batch Number</th>
    <td mat-cell *matCellDef="let element">{{element.batchId}}</td>
  </ng-container>
  <ng-container matColumnDef="supplier">
    <th mat-header-cell *matHeaderCellDef>Supplier</th>
    <td mat-cell *matCellDef="let element">{{element.supplier}}</td>
  </ng-container>
  <ng-container matColumnDef="dateDelivered">
    <th mat-header-cell *matHeaderCellDef>Date Delivered</th>
    <td mat-cell *matCellDef="let element">{{element.dateDelivered}}</td>
  </ng-container>
  <ng-container matColumnDef="validUntil">
    <th mat-header-cell *matHeaderCellDef>Valid Until</th>
    <td mat-cell *matCellDef="let element">{{element.validUntil}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>
</aside>

<div class="modal" id="addBatchModal" tabindex="-1" aria-labelledby="addBatchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addBatchModalLabel">Add Batch</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section>
          <p>Batch Number:</p>
        </section>
      </div>
      <div class="modal-footer">
        <button type="submit">Create</button>
      </div>
    </div>
  </div>
</div>
