<form action="">

    <!-- Supplier -->
    <div class="supplier">
        <p>Supplier</p>
        <input type="text" name="" id="">
    </div>

    <!-- Location -->
    <div class="location">
        <p>Location</p>
        <input type="text" name="" id="">
    </div>

    <!-- Email Address -->
    <div class="email">
        <p>Email Address</p>
        <input type="text" name="" id="">
    </div>

    <!-- Phone Number -->
    <div class="num">
        <p>Phone Number</p>
        <input type="text" name="" id="">
    </div>

    <button type="submit">SAVE</button>
</form>
