a {
  text-decoration: none;
  color: #1d1d1f;
}

p {
    margin: 0;
}

nav {
    align-items: center;
    gap: 5px;
    margin-bottom: 2rem;
}

button {
    padding: 5px 30px;
    border: 2px solid #1d1d1f;
}

section {
    gap: 1rem;
}

.others {
    justify-content: space-between;
}

.card {
    padding: 20px;
    margin-bottom: 1rem;
}

.details {
    align-items: end;
    justify-content: space-between;
}

.page-title {
    text-decoration: underline;
}

.destination {
    gap: 50px;
}

div.card {
    width: 30%;
}

a, .label, .page-title {
    font-size: 1.5rem;
    font-weight: 700;
}

nav, section, span, others {
  display: flex;
}
