<aside>
    <!-- Breadcrumb -->
    <nav>
        <a href="batch-delivery"> Batch Delivery </a>
        <i class="material-symbols-outlined"> arrow_forward_ios </i>
        <a href="add-batch"> Add Batch </a>
        <i class="material-symbols-outlined"> arrow_forward_ios </i>
        <p class="page-title"> Add All-in-One (AIO) </p>
    </nav>

    <!-- Device Information -->
    <section class="card">
        <header class="">
            <p class="label"> Device Infomation </p>
        </header>
        <span class="details">
            <div>
                <p> Batch Number: </p>
                <p> </p>
            </div>
            <div>
                <p> Device: </p>
                <p></p>
            </div>
            <div>
                <p> Device Count: </p>
                <p></p>
            </div>
            <button class="save-btn" type="submit">SAVE</button>
        </span>
        <span class="destination">
            <div>
                <p>Division</p>
                <input type="text" name="" id="">
            </div>
            <div>
                <p>Section</p>
                <input type="text" name="" id="">
            </div>
        </span>
    </section>

    <!-- Specifications -->
    <form class="card" action="">
          <header>
              <p class="label">Specifications</p>
          </header>


    </form>

    <section class="others">
        <div class="card">
            <p>Peripherals</p>
            <app-peripherals></app-peripherals>
        </div>
        <div class="card">
            <p>Connections</p>
            <app-connections></app-connections>
        </div>
        <div class="card">
            <p>Softwares</p>
            <app-softwares></app-softwares>
        </div>
    </section>
</aside>
