<aside>

    <!-- Breadcrumb -->
    <nav>
        <a href="batch-delivery" class="nav-label"> Batch Delivery </a>
        <i class="material-symbols-outlined">arrow_forward_ios</i>
        <p class="nav-label"> Add Batch </p>
    </nav>

    <!-- Batch Details -->
    <section class="card">
        <span>
            <p> Batch Number: {{batchDetails ? batchDetails.formattedId : null}} </p>
            <p> Supplier: {{batchDetails ? batchDetails.supplierId : null}} </p>
        </span>
        <span>
            <button type="submit">
                <p> Save Batch </p>
            </button>
            <button type="button" (click)="discardBatch()">
                <p> Discard </p>
            </button>
        </span>
    </section>

    <!-- Table Manipulation -->
    <section class="table-heading">
        <p class="table-title"> Device Summary </p>
        <span>
            <button class="add-btn" type="button" data-bs-target="#addDeviceModal" data-bs-toggle="modal">
                <i class="material-symbols-outlined"> add </i>
            </button>
            <button class="delete-btn" type="button" (click)="removeDevices()">
                <i class="material-symbols-outlined"> delete </i>
            </button>
        </span>
    </section>

    <!-- Data Table -->
    <table mat-table [dataSource]="devices" class="mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? toggleAllRows() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </td>
        </ng-container>

      <!-- Device Column -->
      <ng-container matColumnDef="device">
          <th mat-header-cell *matHeaderCellDef> Device </th>
          <td mat-cell *matCellDef="let element"> {{element.device}} </td>
      </ng-container>

      <!-- Supplier Column -->
      <ng-container matColumnDef="division">
          <th mat-header-cell *matHeaderCellDef> Division </th>
          <td mat-cell *matCellDef="let element"> {{element.division}} </td>
      </ng-container>

      <!-- Date Delivered Column -->
      <ng-container matColumnDef="section">
          <th mat-header-cell *matHeaderCellDef> Section </th>
          <td mat-cell *matCellDef="let element"> {{element.section}} </td>
      </ng-container>

      <!-- Valid Until Column -->
      <ng-container matColumnDef="conns">
          <th mat-header-cell *matHeaderCellDef> No. of Connections </th>
          <td mat-cell *matCellDef="let element"> {{element.conns}} </td>
      </ng-container>

      <!-- Settings Column -->
      <ng-container matColumnDef="settings">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef>
            <button type="button" class="settings material-symbols-outlined">more_vert</button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>

    </table>

</aside>

<div class="modal" id="addDeviceModal" tabindex="-1" aria-labelledby="addDeviceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addDeviceModalLabel"> Add Device </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="device">
                        <p>Device</p>
                        <select name="" id="">
                          <option value="" selected disabled> Select device </option>
                          <option value="" *ngFor="let deviceList of deviceClass">{{deviceList}}</option>
                        </select>
                    </div>
                    <div class="count">
                        <p>Count</p>
                        <input type="text" placeholder="">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
