aside {
    padding: 30px;
    width: 80vw;
}

nav {
    gap: 5px;
}

a {
    color: #1d1d1f;
}

span {
    flex-direction: row;
    width: 45%;
}

section {
    justify-content: space-between;
}

section, nav, span {
    display: flex;
}
