<aside>
  <header>
    <a href="/batch-delivery">Batch Delivery</a>
    <p>Add Batch</p>
  </header>
  <div class="card">
    <span>
      <p>Batch Number:<!--  {{tempBatch.batchId}} --></p>
      <p>Supplier: <!-- {{tempBatch.supplier}} --></p>
    </span>
    <span>
      <button class="save-btn" type="button">
        Save Batch
      </button>
      <button class="discard-btn" type="button">
        Discard
      </button>
    </span>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="device">
    <th mat-header-cell *matHeaderCellDef>Batch Number</th>
    <td mat-cell *matCellDef="let element">{{element.device}}</td>
  </ng-container>
  <ng-container matColumnDef="division">
    <th mat-header-cell *matHeaderCellDef>Supplier</th>
    <td mat-cell *matCellDef="let element">{{element.division}}</td>
  </ng-container>
  <ng-container matColumnDef="section">
    <th mat-header-cell *matHeaderCellDef>Date Delivered</th>
    <td mat-cell *matCellDef="let element">{{element.section}}</td>
  </ng-container>
  <ng-container matColumnDef="conns">
    <th mat-header-cell *matHeaderCellDef>Valid Until</th>
    <td mat-cell *matCellDef="let element">{{element.conns}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>
</aside>
