<form action="" [formGroup]="batchForm">

    <!-- Batch Number -->
    <div class="batch-num">
        <p> Batch Number: </p>
        <p></p>
    </div>

    <!-- Supplier -->
    <div class="supplier">
        <p> Supplier </p>
        <span class="suppliers-list">
            <!-- Input to be changed to select -->
            <input class="form-control" formControlName="supplier" type="text" name="suppliers" id="suppliers" placeholder="Enter supplier">
            <button type="button" (click)="emitValue()">
                <i class="material-symbols-outlined"> add </i>
            </button>
        </span>
    </div>

    <!-- Service Center -->
    <div class="serv-center">
        <p> Service Center </p>
        <input class="form-control" formControlName="serviceCenter" type="text" name="" id="" placeholder="Enter service center">
    </div>

    <!-- Date Delivered and Valid Until -->
    <div class="dates">
        <span class="delivered">
            <p> Date Delivered </p>
            <input class="form-control" formControlName="dateDelivered" type="date" name="" id="">
        </span>
        <span class="validity">
            <p> Valid Until </p>
            <input class="form-control" formControlName="validUntil" type="date" name="" id="">
        </span>
    </div>

    <!-- Date Tested -->
    <div class="test">
        <span class="date-tested">
            <p> Date Tested </p>
            <input class="form-control" formControlName="dateTested" type="date" name="" id="">
        </span>
        <span class="not-tested">
            <input type="radio" name="" id="">
            <p> Not tested yet </p>
        </span>
    </div>

    <div class="container">
        <button class="submit-btn" type="submit" [disabled]="!batchValid()" (click)="sendBatch()">
          <p class="label"> Save </p>
        </button>
    </div>

</form>
