nav {
    height: 100vh;
    width: 20vw;
    padding: 10px;
    background-color: #5F67FF;
    position: relative;
}

header {
    width: auto;
    color: #f5f5f7;
    height: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 20px 0;
    padding: 1rem;
}

img {
    width: 4.5rem;
    height: 4.5rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
}

p {
    color: #f5f5f7;
    font-weight: 600;
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
    margin-left: 20px;
    width: 100%;
    text-align: left;
    color: #d3d3d3;
}

.nav-header {
    font-weight: 700;
    font-size: 1rem;
}

app-account {
    position: absolute;
    bottom: 0;
}
