<nav>
    <header>
        <img src="assets/images/IMISS.png" alt="">
        <p class="nav-header">IMISS: DIS</p>
    </header>
    <section>
        <div class="end-user">
          <p>Overview</p>
          <button type="button" routerLink="dashboard" routerLinkActive="active">Dashboard</button>
          <button type="button" routerLink="batch-delivery" routerLinkActive="active">Batch Delivery</button>
          <button type="button" routerLink="computer-inventory" routerLinkActive="active">Computer Inventory</button>
        </div>
        <div class="admin">
          <p>Accessibility</p>
          <button type="button" routerLink="accounts" routerLinkActive="active">Account List</button>
          <button type="button" routerLink="suppliers" routerLinkActive="active">Supplier</button>
        </div>
    </section>
  <app-account></app-account>
</nav>
